{% extends 'base.html' %}
{% block title %}Bank Create{% endblock title %}
{% block body %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <div style="padding:10px 0 0 20px ;display:flex">
        <div >
            <input type="submit" value="Confirm" class="btn-confirm">
        </div>
        <div style="padding:7px 0 0 200px ">
            <a href="{% url 'banks' %}" class="btn-danger" style="padding:">Cancel</a>
        </div>
    </div>
</form>

{% endblock %}
    